NEURALESE_RUNTIME_MODE=local_school
NEURALESE_STORAGE_DIR=/var/lib/neuralese-onprem/jobs
NEURALESE_PUBLIC_DATASET_DIR=/var/lib/neuralese-onprem/datasets
NEURALESE_MAX_PARALLEL_JOBS=1
NEURALESE_AUTH_TOKEN=
