/datasets
record/datasets
/datasets_parse/datasets
/yolks/base_binaries/*
/yolks/target/*
/userdata.db/*
/.env
.env
local_runner
local_runner/*
/local_runner
/local_runner/*
local_data
data
nsys_traces
/local_data
/local_data/*
local_data/*
local_runner/*
/local_runner
/local_runner/*
/cpp/build/temp.win-amd64-cpython-312/Release/.ninja_log
cpp/build/temp.win-amd64-cpython-312/Release/.ninja_log
/cpp/build
cpp/build
cpp/build/*
record
/record
record/*"/record/" 
/record/ 
/worker/ds_decomp/target